/* Logo style */
.logo2 {
    text-align: center;
    font-size: 1.5em;
    text-shadow: -3px 3px 0px #000, rgba(119, 119, 119, 0.5) 5px 5px 5px, rgba(119, 119, 119, 0.5) -5px -5px 5px;
    max-width: 650px;  /* Left and down */
    margin: 0;
    padding: 0;
}

header .mainphoto img {
    width: 95vw;
    box-shadow: rgba(119, 119, 119, 0.5) 5px 5px 5px, rgba(119, 119, 119, 0.5) -5px -5px 5px;
    justify-content: center;
    height: 500px;
    object-fit: cover;
}

/* End logo style */

/* Header menu styles */
.main-menu {
    background-color: white;
}

nav {
    text-align: center;
    padding-left: 50px;
    border-radius: 50px;
    background: linear-gradient(to bottom, #444, #111);
    color: white;
    box-shadow: 5px 5px 5px #9c9c9c;
    margin-left: 40px;
    margin-right: 40px;
}

nav a {
    color: #f2f2f2;
    text-decoration: none;
}

nav ul {
    list-style: none;
    margin: 10px;
    padding: 0;
}

.item {
    display: inline-block;
    position: relative; /* necessary for dropdown positioning */
    margin: 0 5px;
    font-size: 1.2em;
    font-weight: bold;
    padding: 15px;
}

.item:hover {
    background-color: #139c19;
    color: #fafafa;
    box-shadow: #000 5px 5px 5px;

}

/* End Header menu styles */


/* Dropdown panel styles */
/* Dropdown panel hidden by default */
.pannele  {
    display: none;
    position: absolute;
    top: auto;
    left: -5px;
    top: 100%;
    border-right: 5px solid #111111;
    border-left: 5px solid #111111;
    border-bottom: 5px solid #111111;
    box-shadow: #000 5px 5px 5px;
    text-align: center;
    z-index: 10;
    width: 550px;
    font-size: 1em;
}

.pannele .container-sub-menu {
    background: linear-gradient( #19b123, #139c19);
    overflow: hidden;
    box-sizing: border-box;
}

.container-sub-menu ul {
    float: left;
    width: 50%;
    margin: 0;
}
.container-sub-menu figure {
    float: right;
    margin: 10px;
}

.container-sub-menu figure img {
    display: block;
    width: 200px;
    height: 100px;
    object-fit: cover;

}

/* End Dropdown panel styles 


/* Show dropdown on hover */
.dropdown:hover .pannele {
    display: block;
    float: left;
}

.container-sub-menu h3 {
    color: #fff;
    margin-bottom: 5px;
}

.item-panneau a {
    display: block;
    color: #000;
    padding: 5px;
}

.item-panneau a:hover {
    color: #ededed;
    text-shadow: 0px 2px  #000;

}
/* End Show dropdown on hover */
/* End header styles */



/* Main */
/* Main content */

main {
    width: 100%;
    table-layout: fixed;
    border-spacing: 40px;
    background-color: white;
}

main .main-content,
main .secondary-content {
    display: table-cell;
    table-layout: fixed;
    vertical-align: bottom;
    border-bottom: 2px solid #4C7D68;

}

.main-content {
    width: 70%;
    height: 100%;
    text-align: justify;
    letter-spacing: 0.03em;
    margin-top: 0px;
}

main #intro p {
    color: #777;
}

main #content figure{
    float: left;
    margin-left: -40px;
    text-align: right;
    color: #777;
    font-style: italic;
    font-size: 0.8em;
}

main #content figure img {
    box-shadow: rgba(119, 119, 119, 0.5) 5px 5px 5px, rgba(119, 119, 119, 0.5) -5px -5px 5px;
    max-width: 450px
}

main .contrary {
    display: inline-block;
}

/* Preserve line breaks in paragraphs */
main pre {
    font-family: inherit;
    white-space: pre-line;
    margin: 0;
}

#conclusion p {
    display: block;
    column-rule: 2px solid #4C7D68;
    column-gap: 20px;
    column-count: 2;
}

main #extra {
    margin-top: 100px;
    display: block;
}

main #extra figure{
    float: right;
    text-align: right;
    color: #777;
    font-style: italic;
    font-size: 0.8em;
}

main #extra figure img {
    box-shadow: rgba(119, 119, 119, 0.5) 5px 5px 5px, rgba(119, 119, 119, 0.5) -5px -5px 5px;
    max-width: 550px
}

/* End main content */


/* Secondary content */

.secondary-content {
    text-align: left;
    font-size: 0.9em;
    height: 100%;
    display: inline-block;
    width: 30%;
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2);
}

.secondary-content figure {
    margin: 0px;
}

.secondary-content figure img{
    max-width: 100%;
}

.secondary-content p {
    padding: 0 20px 0px 20px;
}

/* End Secondary content */
/* End Main */

/*Footer styles */
footer {
    text-align: center;
}

footer ul li {
    display: inline-block;
}

.footer-button {
    display: inline-block;
    text-align: center;
    background-color: green;
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
    color: white;
    text-decoration: none;
}
.footer-button:hover {
    background-color: darkgreen;
    box-shadow: #000 5px 5px 5px;
}

/* End Footer styles */


