html, body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}


/* main style */
.decorator1{
    background-color: green;
    border-radius: 50px;
}

h1 {
    margin-left: 20px ;
    background-color: white;
    padding-left: 20px;
    color: green;
}

h2 {
    margin-left: 20px;
    color: green;
}


/* End main style */





