body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;  
}

/* header styles */
header figure {
    text-align: center;
    margin-top: 2em;
}

header figure img {
    width: 70vw;
    box-shadow: rgba(119, 119, 119, 0.5) 5px 5px 5px, rgba(119, 119, 119, 0.5) -5px -5px 5px;
    justify-content: center;
}

main {
    font-size: 1.2em;
    width: 80vw;
    display: inline;
    text-align: center;
    max-width: 80vw;

}

main .starters,
main .mains,
main .desserts {
    background-color: rgb(255, 254, 246);
    padding: 20px;
    margin: 20px;
    box-shadow: rgba(181, 177, 177, 0.5) 5px 5px 5px, rgba(119, 119, 119, 0.5) -5px -5px 5px;
}

.dish {
    padding: 1em;
}

.dish:hover, .alergies:hover {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    opacity: 1;
}

.dish .alergies {
    font-size: 0.8m;
    color: rgba(245, 42, 42, 0.5);
    font-style: italic;
    opacity: 0;
}
.dish:hover .alergies {
    opacity: 1;
}

