{% extends 'common/base.html' %}
{% load static %}

{% block title %}Food Menu{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/food/menu-style.css' %}">
{% endblock %}

{% block content %}
    <header>
        <figure>
            <figcaption><h1>Restaurant</h1></figcaption>
            <img src="{% static 'images/le3c.png' %}" alt="Our Menu">
        </figure>
    </header>

    <main>
        <div class="filter-header">
            <button onclick="document.getElementById('allergy-form').toggleAttribute('hidden')">
                Filter by Allergies
            </button>
            <a href="{% url 'food:food_menu' %}" class="btn">No allergies</a>
        </div>

        <div id="allergy-form" hidden>
            <form method="get">
                {{ filter_form.as_p }}
                <button type="submit">Apply</button>
            </form>
        </div>

        <div class="admin-buttons">
            <a href="{% url 'food:food_add' %}" class="card-link">
                <div class="admin-card">
                    <h3>+ Add New Item</h3>
                </div>
            </a>
        </div>

        <div class="food-menu">
            {% regroup foods by get_category_display as category_list %}

            {% for category in category_list %}
                <div class="food-section">
                    <h2>{{ category.grouper }}</h2>

                    {% for food in category.list %}
                        <a href="{% url 'food:food_details' food.pk %}" style="text-decoration: none; color: inherit;">
                            <div class="dish">
                                <h3>{{ food.title }}</h3>

                                <span class="alergies">
                                    Contains:
                                    {% for allergy in food.allergies.all %}
                                        {{ allergy.name }}{% if not forloop.last %}, {% endif %}
                                    {% empty %} No allergies
                                    {% endfor %}
                                </span>

                                <p>{{ food.description }}</p>
                                <span class="price">{{ food.price }} CHF</span>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            {% empty %}
                <p>No food available at the moment.</p>
            {% endfor %}
        </div>
    </main>
{% endblock %}