{% extends 'common/base.html' %}
{% load static %}

{% block title %}Add New Dish{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/food/food-edit.css' %}">
{% endblock %}

{% block content %}
<div class="add-container">
    <h1>Add New Dish</h1>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        {{ form.as_p }}
        
        <div class="form-actions">
            <button type="submit">Save Dish</button>
            <a href="{% url 'food:food_menu' %}" class="btn">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
