{% extends 'common/base.html' %}
{% load static %}

{% block title %}Edit {{ drink.name }}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/food/food-cud-operation.css' %}">
{% endblock %}

{% block content %}

    <div class="add-container">
        <h2>Edit Drink: {{ drink.name }}</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.as_p }}
            <div class="form-actions">
                <button type="submit">Update Drink</button>
                <a href="{% url 'drinks:wine-menu' %}" class="btn">Cancel</a>
            </div>
        </form>
    </div>

{% endblock %}