{% extends 'common/base.html' %}
{% load static %}

{% block title %}Add Allergy{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/food/food-cud-operation.css' %}">
{% endblock %}

{% block content %}
<div class="add-container">
    <h1>Add New Allergy</h1>
    <h2>Please add all kind of allergies to your restaurant</h2>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        
        <div class="form-actions">
            <button type="submit">Save Allergy</button>
            <a href="{% url 'common:add_allergy' %}" class="btn">Cancel</a>
        </div>
    </form>
</div>
    
{% endblock %}