{% extends 'common/base.html' %}
{% load static %}

{% block title %}404 - Page Not Found{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/food/food-cud-operation.css' %}">

{% endblock %}

{% block content %}
<div class="add-container error-container">
    <h1 class="logo2" style="margin: 0 auto;">Opps! Page Missing</h1>
    <p class="error-code">404</p>

    <p class="error-message">
        It looks like this dish isn't on our menu today.
        The page you are looking for might have been moved or deleted.
    </p>

    <div class="form-actions" style="justify-content: center;">
        <a href="{% url 'common:home' %}" class="item" style="text-decoration: none; display: inline-block;">
            Return to Restaurant
        </a>
    </div>
</div>
{% endblock %}