body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header figure {
    text-align: center;
    margin-top: 2em;
}

header figure img {
    width: 70vw;
    box-shadow: rgba(119, 119, 119, 0.5) 5px 5px 5px, rgba(119, 119, 119, 0.5) -5px -5px 5px;
}

main {
    font-size: 1.2em;
    width: 80vw;
    text-align: center;
    max-width: 80vw;
}

main .starters,
main .mains,
main .desserts {
    background-color: rgb(255, 254, 246);
    padding: 20px;
    margin: 20px;
    box-shadow: rgba(181, 177, 177, 0.5) 5px 5px 5px, rgba(119, 119, 119, 0.5) -5px -5px 5px;
}

.filter-header {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 0;
}

.filter-header .btn {
    background-color: #007bff;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 0.9em;
    transition: opacity 0.2s;
}

.filter-header button {
    background-color: #dc3545;
    color: white;
    padding: 12px 25px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 0.9em;
    transition: opacity 0.2s;
}

.filter-header .btn:hover,
.filter-header button:hover {
    opacity: 0.8;
}

#allergy-form {
    background-color: #fdfdfd;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: fit-content;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

#allergy-form button[type="submit"] {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.foodmenu a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.dish {
    padding: 1em;
    transition: background-color 0.3s ease;
}

.foodmenu a:hover .dish {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.dish .alergies {
    display: block;
    font-size: 0.8em;
    color: rgba(245, 42, 42, 0.7);
    font-style: italic;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.foodmenu a:hover .alergies {
    opacity: 1;
}

.price {
    font-weight: bold;
    display: block;
    margin-top: 5px;
}

/* Admin Button repeating */


.admin-buttons {
    margin: 50px 0;
    display: flex;
    justify-content: center;
}

.admin-card {
    border: 2px dashed #007bff;
    padding: 20px 40px;
    border-radius: 10px;
    color: #007bff;
    transition: 0.3s;
}

.admin-card:hover {
    background: #007bff;
    color: white;
}

.card-link {
    text-decoration: none;
}